@model SalesWebMVC.Models.Seller

@{
    ViewData["Title"] = "Criar novo";
}

<h2>@ViewData["Title"]</h2>


<h4>Vendedores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nome</label> <!--Objeto do tipo Seller, tem que declarar a classe Seller lá em cima...-->
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label> <!--Objeto do tipo Seller, tem que declarar a classe Seller lá em cima...-->
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">Data de nascimento</label> <!--Objeto do tipo Seller, tem que declarar a classe Seller lá em cima...-->
                <input asp-for="BirthDate" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="BaseSalary" class="control-label">Salário base</label> <!--Objeto do tipo Seller, tem que declarar a classe Seller lá em cima...-->
                <input asp-for="BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>





